#errorMessage{
  background-color: green;
  border: 2px solid yellow;
  font-size: larger;
  font-style: bold;
}

.personList {
  width: 50%;
  float: center;
  background-color:rgba(168,208,230,0.5);
  border: 2px solid rgba(168,208,230,0.8);
  border-radius: 15px;
  padding: 1em;
  font-family: "Georgia",serif;
  font-size: 1.5rem;
  
}

.addForm {
  width: 25%;
  float: right;
  /*background-color: #A8D0E6;*/
  background-color:rgba(168,208,230,0.35);
  border-radius: 15px;
  padding: 1em;
}
.person{
  border-bottom: 1px dotted black;
}
.searchForm{
  width: 25%;
  height: 100%;
  float: left;
  background-color:rgba(168,208,230,0.35);
  border-radius: 15px;
  padding: 1em;

}
.flex-container{
  display: flex;
  background-color:rgba(248,233,161,0.5);
}
.flex-container > div{
  margin: 25px;

}
.sectionHeader{
  font-size: 2rem;
  padding-bottom: 1.5em;
  text-align: center;
  color: #24305E;
  text-decoration:underline;
  font-family: "Georgia", serif;
}

#delete{
  background-color: #F76C6C;
  text-align:center;
  padding: 5px;
  float: right;
  color:white;
  border-radius: 50%;
}